<!DOCTYPE html>
<html>
  <head>
    <title>MyBudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Meta tags for LinkedIn link previews -->
    <meta property="og:title" content="MyBudgetApp">
    <meta property="og:description" content="A Ruby on Rails application for managing your budget">
    <meta property="og:image" content="URL to the thumbnail image">
    <meta property="og:url" content="URL to your MyBudgetApp project">
    <meta property="og:type" content="website">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Lobster&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/dcdd89c74c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

